@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-200 antialiased;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  @apply font-serif;
}
